.body-container{
    background-color: rgb(174, 174, 221); 
    height: 100vh;
    display: flex;

    .menu-container{
        display: flex;
        background-color: aliceblue;
        height: 25%;
        width: 100%;
    }
    .things-titleHome{
        font-weight: bold;
        font-size: 50px;
        position: absolute;
        margin: 20px 0px 0px 20px;
        text-decoration: none;
        color: rgb(174, 174, 221); 
    }
    .things-titleHome:hover{
        animation: titleAnim 5s linear infinite;
    }
    .menuItemRow {
		display: flex;
        justify-content: center;
        align-items: center;
        margin: 8% 0% 0% 30%;
        gap: 33%;
	}
	.menuItem {
		font-size: 40px;
		color: rgb(174, 174, 221);
		text-decoration:none;
	}
    .menuItem:hover {
		color: rgb(134, 134, 169); 
	}

}