.bodyContainerHome{
    background-color:#ADD8E6;
    height: 100vh;
    display: flex;

    .menuContainerHome{ 
        background-color: #00008B; 
        width: 100%;
        height: 200px;
  
        .thingsTitleHome{
            font-weight: bold;
            font-size: 50px;
            position: absolute;
            margin: 1% 0% 0% 1%;
            text-decoration: none;
            color:#ADD8E6;
         }
        .thingsTitleHome:hover{
            animation: titleAnim 5s linear infinite;
         }
        .menuItemRowHome {
            margin-top: 100px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr; 
            grid-gap: 10px;
	    }
	    .menuItemHome {
            text-align: center;
		    font-size: 40px;
		    color: #ADD8E6;
		    text-decoration:none;
	    }
        .menuItemHome:hover {
		    color: rgb(134, 134, 169); 
	    }
        @keyframes titleAnim {
            0% {transform: rotateZ(0deg);}
            25% {transform: rotateZ(15deg);}
            50% {transform: rotateZ(0deg);}
            75% {transform: rotateZ(-15deg);}
            100% {transform: rotateZ(0deg);}
        }
        @media screen and (max-width: 500px) {
            .menuContainerHome {
              float: none;
              display: block;
              text-align: left;
            }
            
            .menuItemRowHome .menuItemHome {
              float: none;
            }
          }
    }
}