.center {
    height: 100vh;
    background-color: rgb(174, 174, 221);
    display: flex;
    align-items: center;
    justify-content: center;

    //flex-direction: column;
    .login {
        width: 75%;
        height: 75%;
        background-color: aliceblue;
        border-radius: 10px;
        align-items: center;    
        .left {
            //flex: 1;
            //background-size: cover;
            padding: 60px;
           // display: flex;
            h1 {
                font-size: 50px;
                line-height: 75px;
            }

            form {

                input {
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 20px;
                }

            }
        }

    }
}