.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: white;
  flex-direction: column; /* Change to column layout */
}

.container {
  max-width: 1000px; /* Increased max-width for a wider container */
  width: 90%; /* Adjusted width */
  height: 300px; /* Reduced height for a shorter container */
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
}

.section {
  margin-bottom: 10px; /* Reduced margin between container and section */
  padding: 20px;
  border: 1px solid #ccc;

  h2 {
      margin-bottom: 10px; /* Added margin for h2 elements */
  }

  ul {
      padding: 0;

      li {
          margin-bottom: 10px;
          font-size: 16px;
      }
  }

  .user-section {
      margin-top: 10px;
  }
}

.header {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 30px;
}

.header h1 {
  color: black;
  font-size: 30px;
  margin: 0;
}

.h1-container {
  flex: 1;
  text-align: center;
}

.WelcomeUser,
.Library {
  font-size: 18px;
  margin-left: 10px;
}

.container-title {
  background-color: #176B87;
  color: white;
  padding: 20px; /* Keep the padding for the title the same */
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
}

.item-section {
  margin-top: 20px;
  width: 1000px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
  font-size: 16px;
}

.user-section {
  margin-top: 10px;
}