.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: white;
  flex-direction: column; /* Change to column layout */
}

.container, .container2 {
  background-color: aliceblue;
  max-width: 800px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
}

.section {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

.header {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 30px;
}

.header h1 {
  color: black;
  font-size: 30px;
  margin: 0;
}

.h1-container {
  flex: 1;
  text-align: center;
}

.WelcomeUser, .Library {
  font-size: 18px;
  margin-left: 10px;
}

.container-title, .container2-title {
  background-color: #176B87;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

