.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  //background-color: white;
  flex-direction: column; /* Change to column layout */
  background-color: #AAAAAA;
}

p{
  margin: 0px;
}

.trade-center-div{
  background-color: #fff4d9;
}
.container {
  max-width: 1000px; /* Increased max-width for a wider container */
  width: 90%; /* Adjusted width */
  height: 300px; /* Reduced height for a shorter container */
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
}

.section {
  margin-bottom: 10px; /* Reduced margin between container and section */
  padding: 20px;
  border: 1px solid orange;
  background-color: #999999;

  h2 {
      margin-bottom: 10px; /* Added margin for h2 elements */
  }

  ul {
      padding: 0;

      li {
          margin-bottom: 10px;
          font-size: 16px;
      }
  }

  .user-section {
      margin-top: 10px;
  }
}

.WelcomeUser,
.Library {
  font-size: 18px;
  margin-left: 10px;
}

.container-title {
  background-color: #444444;
  color: white;
  padding: 20px; /* Keep the padding for the title the same */
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
}

.item-section {
  margin-top: 20px;
  width: 1000px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
  font-size: 16px;
}

.user-section {
  margin-top: 10px;
}