.bodyContainerUser{
    background-color: #5CDB95;
    height: 100vh;
    display: flex;

    .thingsTitleUser{
        font-weight: bold;
        font-size: 50px;
        position: absolute;
        margin: 1% 0% 0% 1%;
        text-decoration: none;
        color: #05386B;
    }
    .thingsTitleUser:hover{
        animation: titleAnim 5s linear infinite;
    }
    .yourAccountUser{
        color:white; 
        text-align:center;
    }

    .infoContainerUser{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 5%;
        margin:10% 25% 0% 25%;
        background-color: #05386B;
        height: 50vh;
        width: 50%;

        .userDataUser{
            text-align:center;
            color: white;
            position: relative;
        }
        .inputUser{
            position:relative;
            border:none;
            border-radius: 5px;
            background-color:#ADD8E6; 
            color:black;
            height: 20px;
            width: 100%;
            margin: 2%;  
        }
        .infoButtonUser{
            position:relative;
            border:none;
            border-radius: 5px;
            background-color:#ADD8E6;
            height: 10%;
            width: 100%;
            margin: 2%;
            animation-name: colorChange;
            animation-duration: 3s; 
            animation-iteration-count: infinite;
            animation-direction: alternate; 
        }
        .infoButtonUser:hover{
            background-color: rgb(134, 134, 169); 
        }

        @keyframes colorChange {
            0% {color: black;}
            100% {color: rgb(93, 175, 115);}
        }
        @keyframes titleAnim {
            0% {transform: rotateZ(0deg);}
            25% {transform: rotateZ(15deg);}
            50% {transform: rotateZ(0deg);}
            75% {transform: rotateZ(-15deg);}
            100% {transform: rotateZ(0deg);}
        }
    }
}