$container-height: 15 * 1vh;

.navbar-container{
    height: $container-height;
    position: relative;
    background-color: #96969F;
    text-align: center;
    
    .navbar-link{
        height: $container-height + 8;
        display: flex;
        justify-content: space-around;
        margin-left:calc(33vh);
        align-items: center;
    }  

    .textNav {
        display:flex;
        font-weight: bold;
        color: black;
        flex: 1;
        font-size: 30px;
        text-decoration: none;
      }

    .textNav:hover {
      color: rgb(134, 134, 169); 
  }
}

.thingsTitleNav {
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    top: 1vh;
    left: 2vh;
    text-decoration: none;
    color: #FF9900;
}

.thingsTitleNav:hover{
    animation: titleAnim 5s linear infinite;
}

    @keyframes titleAnim {
        0% {transform: rotateZ(0deg);}
        25% {transform: rotateZ(15deg);}
        50% {transform: rotateZ(0deg);}
        75% {transform: rotateZ(-15deg);}
        100% {transform: rotateZ(0deg);}
    }

.color-bar{
    background-color: orange;
    height: 1px;
}
